body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: bisque;
}
header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sketchContainer {
    width: 960px;
    height: 960px;
    border: 2px black solid;
    background-color: white;
}